<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="ZedG"
           Language="1033"
           Version="$(var.AppVersion)"
           Manufacturer="zed-globalization"
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of ZedG is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="ZedG" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="AppMenuFolder" Name="ZedG" />
      </Directory>
    </Directory>

    <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">
      <Component Id="ZedGExe">
        <File Source="$(var.SourceExe)" KeyPath="yes">
          <Shortcut Id="StartMenuShortcut"
                    Directory="AppMenuFolder"
                    Name="ZedG"
                    WorkingDirectory="INSTALLFOLDER"
                    Advertise="yes" />
        </File>
      </Component>
    </ComponentGroup>

    <Feature Id="Main" Title="ZedG" Level="1">
      <ComponentGroupRef Id="MainComponents" />
    </Feature>

  </Product>
</Wix>
